@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@600&display=swap');

.nav_wrapper{
    position: absolute;
    width: 100vw;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding:  2.7rem 0rem 0rem 3rem;
}
.logo_name {
    font-size: 2.8rem;
    letter-spacing: 3px;
    font-family: 'Akshar', sans-serif;
    border: 2px solid white;
    padding: 5px;
    cursor: pointer;
}

.nav_wrapper .left{
    padding: 2rem;
}

.nav_number{
    padding-right: .5rem ;
}
.nav_links{
    display: flex;
    padding: 0rem 7vw 0rem 5vw;
    letter-spacing: 3px;
    background-color: rgba(128, 128, 128, 0.161);
    backdrop-filter: blur(10px);
    transition: .3s ease-in-out;
}

.nav_link{
    list-style: none;
    margin: 0px 1.3rem;
    padding: 2.5rem .3rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.nav_link:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}
.menu_btn{
    display: none;
    width: 45px;
    position: relative;
    height: 50px;
    z-index: 5;
    
}
.menu_btn  span{
    position: absolute;
    height: 4px;
    width: 80% ;
    border-radius: 3px;
    background: #D0D6F9;
    display: block;
    
}
.menu_line{
    transition: .1s ease-in;
}
.line1{
    transform: translateY(-10px);
}
.line2{
    transform: translateY(0px);
}
.line3{
    transform: translateY(10px);
}

.menu_btn.active .line1,.line2{
    transform: translateY(0);
}
.menu_btn.active .line1{
    transform: rotate(45deg);
}
.menu_btn.active .line2{
    transform: rotate(-45deg);
}
.menu_btn.active .line3{
    transform: rotate(45deg);
}

@media screen and (min-width:0px) and (max-width:480px){
    html{
        font-size: 6px;
    }
    .nav_wrapper{
        padding: 0px;
    }
    .menu_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .nav_link{
        transform: scale(0);
        transition: all .4s;
    }
    .nav_link.active{
        transform: scale(1.2);
        transform-origin: bottom;
    }
    .nav_links{
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 15rem ;
        opacity: 0;
        transform: translateX(100%);
        transition: 1s;
        transition-delay: .1s;
    }
      .nav_links.active{
        display: flex;
        transform: translateX(0px);
        opacity: 1;
    }
   
    ul.nav_links{
        flex-direction: column;
        height: 100vh;
    }
    
}

@media (min-width: 481px) and (max-width: 768px){
    html{
        font-size: 7px;
    }
    .nav_wrapper{
        padding: 0px;
    }
    .nav_links{
        padding: 0px 2rem;
    }
  .nav_number{
      display: none;
  }
}